In [24]:
import pandas as pd
import numpy as np

In [88]:
df = pd.read_csv('df_infojobs_t0_alin.csv',index_col=0)
df

df = df[df['3_situacao da vaga'] == 200]

In [89]:
#df = pd.read_csv('df_infojobs_t0_alin.csv',index_col=0)


df_0 = df['url'].tolist()
df_0 = pd.DataFrame(df_0)
df_0.rename(columns={0:"url"},inplace=True)
df_1 = df['codigo'].tolist()
df_1 = pd.DataFrame(df_1)
df_1.rename(columns={0:"codigo"},inplace=True)
df_2 = df['data do scraping'].tolist()
df_2 = pd.DataFrame(df_2)
df_2.rename(columns={0:"data_do_scraping"},inplace=True)

In [90]:
result = pd.concat([df_0,df_1,df_2], axis=1)

In [91]:
result.to_csv('infojobs_list_request.csv')

In [92]:
result

,url,codigo,data_do_scraping
0,https://www.infojobs.com.br/vaga-de-atendiment...,7206929,2021-04-29
1,https://www.infojobs.com.br/vaga-de-consultor-...,7206056,2021-04-29
2,https://www.infojobs.com.br/vaga-de-instrutor-...,7207541,2021-04-29
3,https://www.infojobs.com.br/vaga-de-auxiliar-m...,7207543,2021-04-29
4,https://www.infojobs.com.br/vaga-de-comprador-...,7207535,2021-04-29
...,...,...,...
27887,https://www.infojobs.com.br/vaga-de-operador-c...,7222625,2021-05-15
27888,https://www.infojobs.com.br/vaga-de-cozinheiro...,7229146,2021-05-15
27889,https://www.infojobs.com.br/vaga-de-vendedor-l...,7221463,2021-05-15
27890,https://www.infojobs.com.br/vaga-de-ferramente...,7081901,2021-05-15
27891,https://www.infojobs.com.br/vaga-de-auxiliar-l...,7155922,2021-05-15

In [ ]:
3,511